* {
  box-sizing: border-box;
  color: inherit;
}

a {
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.fw-bold {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-initial {
  display: initial;
}

.d-inline-block {
  display: inline-block;
}

.cursor-pointer {
  cursor: pointer;
}